<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>
        Content
    </title>

    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <header>
        <div>
            <a href="/about">About</a>
            <a href="/">Content</a>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Community</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Phone</a>
        </div>
    </header>

    {% block content %}{% endblock %}

<script src="script.js"></script>
</body>

</html>