{% extends "layout.njk" %}

{% block content %}

<div class="about">
    <header class="about">
        <img src="https://pbs.twimg.com/profile_images/953595371875422210/0pWsfSSp_400x400.jpg" alt="">
    </header>
    <h1 class="about">Rocketseat</h1>
</div>
<main class="about">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veniam iste doloremque exercitationem dolor similique adipisci? Laudantium fugit maxime aperiam dicta odit dolore facilis aut repudiandae impedit laborum, velit amet?</p>
    <ul>Tecnologias
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>React JS</li>
    </ul>
</main>
<footer class="about">
    <a href="https://github.com/Rocketseat" target="_blank">Github</a>
    <a href="https://www.instagram.com/rocketseat_oficial/?hl=pt-br" target="_blank">Instagram</a>
    <a href="https://pt-br.facebook.com/rocketseat/" target="_blank">Facebook</a>
</footer>

{% endblock %}