{% extends "layout.njk" %}

{% block content %}

<section class="cards">

    {% for item in items %}
    <div class="card" id="{{item.name}}">
        <div class="cardImg">
            <img src="https://skylab.rocketseat.com.br/static/{{item.id}}.svg" alt="Imagem de {{item.name}}">
        </div>
        <div class="card__content">
            <p>
                {{item.info}}
            </p>
        </div>
        <div class="card__info">
            <p>
                {{item.modules}}
            </p>
            <p class="card__prices">
                {{item.price}}
            </p>
        </div>
    </div>
    {% endfor %}

</section>

<div class="modal-overlay"> 
    <div class="modal">
        <a class="maximize-modal">
            <i class="material-icons">launch</i>
        </a>
        <a class="close-modal">
            <i class="material-icons">close</i>
        </a>
        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>
</div>

{% endblock %}

